* {
  margin: 0;
  padding: 0;
}

#mainDiv {
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  padding: 2em;
}

#mainDiv p {
  max-width: 60vw;
}

h1,
h2 {
  margin-bottom: 1em;
}

.wrapper {
  display: flex;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper .list-item {
  width: auto;
  height: auto;
  padding-right: 1em;
  text-decoration: none;
}

.wrapper .list-item li {
  list-style-type: none;
  color: white;
}

@media (max-width: 768px) {
  #mainDiv {
    padding: 1em;
  }
}