* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

/* header */

.header {
  background: rgba(0, 0, 0, 0.5);
  width: 98%;
  margin-left: -2em;
  margin-top: -2em;
  padding: 1em 1em;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.header img {
  max-width: 2em;
  max-height: 2em;
  margin-right: 1em;
}

.header h2 {
  margin-bottom: 0;
}

.header a {
  text-decoration: none;
  display: flex;
}

.header a h2 {
  color: white;
}


#mainDiv {
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  padding: 2em;
}

h1,
h2 {
  margin-bottom: 1em;
}

/* homepage */

.homepage {
  padding-top: 3.2em;
}

.wrapper {
  display: flex;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper .list-item {
  width: auto;
  height: auto;
  padding-right: 1em;
  text-decoration: none;
}

.wrapper .list-item li {
  list-style-type: none;
  color: white;
}

/* Single show page */
.singleshow {
  display: flex;
  flex-direction: row;
  padding-top: 3em;
}

.singleshow>div:first-of-type {
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.singleshow>div:first-of-type p {
  margin-bottom: 1em;
}

.singleshow>div:nth-of-type(2) {
  width: 40%;
}

.singleshow>div:nth-of-type(1) h2 {
  font-size: 5em;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
  line-height: 0.8em;
}

.singleshow>div:nth-of-type(2) img {
  max-height: 80vh;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

.back-button {
  position: relative;
  display: flex;
  text-decoration: none;
  width: 100%;
  max-width: 100px;
  background-color: #3D948B;
  border: none;
  box-sizing: border-box;
  color: #000000;
  font-weight: 700;
  line-height: 1.75rem;
  padding: .35rem 1.65rem;
  text-align: center;
  cursor: pointer;
  transform: rotate(-2deg);
}

.back-button:focus {
  outline: 0;
}

.back-button:after {
  content: '';
  position: absolute;
  border: 0.063em solid #fff;
  bottom: 0.250em;
  left: 0.250em;
  width: calc(100% - 0.063em);
  height: calc(100% - 0.063em);
}

.back-button:hover:after {
  bottom: 0.125em;
  left: 0.125em;
}

@media (max-width: 768px) {
  #mainDiv {
    padding: 1em;
  }

  /* header */
  .header {
    width: 98%;
    margin-left: -1em;
    margin-top: -1em;
  }

  /* Single show page */
  .singleshow {
    display: flex;
    flex-direction: column;
    padding-top: 4em;
  }

  .singleshow>div:nth-of-type(2) {
    width: 100%;
  }

  .singleshow>div:first-of-type {
    padding-right: 0;
    width: 100%;
  }

  .back-button {
    margin-bottom: 1em;
  }

  .singleshow>div:nth-of-type(1) h2 {
    font-size: 3em;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 0.8em;
  }
}